![](https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/IOC_Logo.svg/2341px-IOC_Logo.svg.png)

# Introduction

Welcome to your first day as an analyst working for the IOC! The IOC is at the very heart of world sport, supporting every Olympic Movement stakeholder, promoting Olympism worldwide, and overseeing the regular celebration of the Olympic Games.

For a moment of glory on the medalist podium, elite athletes dedicate *everything* to their sport. Olympics medalists from 1896 through 2016 comprise the dataset you'll be working with. Who are the youngest and oldest medalists of all time? Are there physical differences between Summer Olympics medalists and Winter Olympics medalists? You're about to use your data coding chops to find out!

You'll start this Milestone assignment by cleaning and filtering the data. So many of your Python skills that you've learned so far will be at play. Are you up for it? Let's go!

### Dataset Description

The dataset is stored in a .csv file named `olympics.csv`. It contains the following columns:

* **ID**: A unique identifying number of each athlete
* **Name**: The name of each athlete
* **Sex**: M or F
* **Age**: The age of an athlete, in years, at the time they competed.
* **Height**: The height of an athlete, in centimeters
* **Weight**: The weight of an athlete, in kilograms
* **Team**: The name of the athlete’s team. Not always the name of a country.
* **NOC**: National Olympic Committee’s 3 letter code
* **Games**: Year and season
* **Season**: Summer or Winter
* **City**: Host city
* **Sport**: The sport or category of an olympic event/activity
* **Event**: specific event within a sport, e.g. Men’s 400 meters breaststroke.
* **Medal**: Gold, Silver, Bronze
* **Region**: Name of athlete’s country

# Task 1: Data Inspection

![](https://media.giphy.com/media/42wQXwITfQbDGKqUP7/giphy.gif)

In [3]:
# import the pandas library
import pandas as pd

In [6]:
# Load in the data
olympics_df = pd.read_csv('datasets/olympics.csv')

In [7]:
# Preview DataFrame
olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region
0,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
1,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Finland
2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Finland
3,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland
4,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland

In [10]:
# Inspect the numbers of rows and columns
olympics_df.shape

(39783, 16)

In [12]:
# Inspect column names
olympics_df.columns

Index(['ID', 'Name', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games',
       'Year', 'Season', 'City', 'Sport', 'Event', 'Medal', 'region'],
      dtype='object')

In [13]:
# Inspect column data types, memory usage, etc.
olympics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39783 entries, 0 to 39782
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      39783 non-null  int64
 1   Name    39783 non-null  object
 2   Sex     39783 non-null  object
 3   Age     39051 non-null  float64
 4   Height  31072 non-null  float64
 5   Weight  30456 non-null  float64
 6   Team    39783 non-null  object
 7   NOC     39783 non-null  object
 8   Games   39783 non-null  object
 9   Year    39783 non-null  int64
 10  Season  39783 non-null  object
 11  City    39783 non-null  object
 12  Sport   39783 non-null  object
 13  Event   39783 non-null  object
 14  Medal   39783 non-null  object
 15  region  39774 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 4.9+ MB

In [14]:
# Display a statistical summary of the data
olympics_df.describe()

                  ID           Age        Height        Weight          Year
count   39783.000000  39051.000000  31072.000000  30456.000000  39783.000000
mean    69407.051806     25.925175    177.554197     73.770680   1973.943845
std     38849.980737      5.914026     10.893723     15.016025     33.822857
min         4.000000     10.000000    136.000000     28.000000   1896.000000
25%     36494.000000     22.000000    170.000000     63.000000   1952.000000
50%     68990.000000     25.000000    178.000000     73.000000   1984.000000
75%    103461.500000     29.000000    185.000000     83.000000   2002.000000
max    135563.000000     73.000000    223.000000    182.000000   2016.000000

In [15]:
# What types of medals are there?
olympics_df['Medal'].unique()

array(['Gold', 'Bronze', 'Silver'], dtype=object)

# Task 2: Data Cleaning

![](https://media.giphy.com/media/10zsjaH4g0GgmY/giphy.gif)

In [21]:
# Rename 'NOC' column to 'CountryCode'
olympics_df = olympics_df.rename(columns={'NOC': 'CountryCode', 'region': 'Country'})
# Rename 'region' column to 'Country'
olympics_df.head()

,ID,Name,Sex,Age,Height,Weight,Team,CountryCode,Games,Year,Season,City,Sport,Event,Medal,Country
0,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark
1,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Finland
2,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Finland
3,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland
4,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland

In [47]:
# Remove the 'Team' column
olympics_df = olympics_df.drop(columns='Team')

KeyError: "['Team'] not found in axis"

# Task 3: Data Analysis

![](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

In [35]:
# What is the youngest age of an Olympics medalist?
youngest_age = olympics_df['Age'].min()
print("Youngest age of an Olympics medalist:", youngest_age)

Youngest age of an Olympics medalist: 10.0

In [36]:
# What is the oldest age of an Olympics medalist?
oldest_age = olympics_df['Age'].max()
print("Oldest age of an Olympics medalist:", oldest_age)

Oldest age of an Olympics medalist: 73.0

In [38]:
# How many of each medal were awarded?
medal_counts = olympics_df['Medal'].value_counts()
print("Number of each medal awarded:")
print(medal_counts)

Number of each medal awarded:
Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [39]:
# How many events are there?
num_events = olympics_df['Event'].nunique()
print("Number of events:", num_events)

Number of events: 756

In [40]:
# How many sports are there?
num_sports = olympics_df['Sport'].nunique()
print('Number of sports:', num_sports)

Number of sports: 66

In [37]:
# What is the average age of an Olympics medalist?
average_age = olympics_df['Age'].mean()
print("Average age of an Olympics medalist:", average_age)

Average age of an Olympics medalist: 25.925174771452717

In [42]:
# Among the 10 oldest medalists, what are the most common sports?
oldest_medalists = olympics_df.nlargest(10, 'Age')
common_sports = oldest_medalists['Sport'].value_counts()

# Display the most common sports among the oldest medalists
print("Most common sports among the 10 oldest medalists:")
print(common_sports)

Most common sports among the 10 oldest medalists:
Art Competitions    5
Sailing             3
Shooting            1
Archery             1
Name: Sport, dtype: int64

In [43]:
# What are the 10 winningest countries in total medal count?
total_medals_per_country = olympics_df.groupby('Country')['Medal'].count()
top_10_countries = total_medals_per_country.nlargest(10)

# Display the top 10 winningest countries
print("Top 10 winningest countries in total medal count:")
print(top_10_countries)

Top 10 winningest countries in total medal count:
Country
USA          5637
Russia       3947
Germany      3756
UK           2068
France       1777
Italy        1637
Sweden       1536
Canada       1352
Australia    1349
Hungary      1135
Name: Medal, dtype: int64

In [44]:
# How many medals have been awarded in the sport of trampolining?
trampolining_df = olympics_df[olympics_df['Sport'] == 'Trampolining']
num_medals_trampolining = trampolining_df.shape[0]

# Display the number of medals awarded in trampolining
print("Number of medals awarded in trampolining:", num_medals_trampolining)

Number of medals awarded in trampolining: 30

# Level Up

![](https://media.giphy.com/media/YYaapBJ7UAZp9DJS7o/giphy.gif)

Want to Level Up your practice? We love to see it! Take a crack at some of these extra challenges, including visualizing some of this here data.

In [48]:
# How many gold medals were awarded to the United States?
us_gold_df = olympics_df[(olympics_df['Country'] == 'United States') & (olympics_df['Medal'] == 'Gold')]
num_gold_medals_us = us_gold_df.shape[0]

# Display the number of gold medals awarded to the United States
print("Number of gold medals awarded to the United States:", num_gold_medals_us)

Number of gold medals awarded to the United States: 0

In [ ]:
# List the Olympics in dataset, starting with the most recent

In [ ]:
# Average medalist height in the most recent Winter Olympics

In [ ]:
# Average medalist weight in the most recent Winter Olympics

In [ ]:
# Average medalist height in the most recent Summer Olympics

In [ ]:
# Average medalist weight in the most recent Summer Olympics

In [ ]:
# Import plotly express library

In [ ]:
# Assign top 10 winningest countries table to a variable
# You did this in task 3

In [ ]:
# Visualize the table as a bar chart